.venv
.vscode
__pycache__/
*.pyc
RAGenv/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
#ignore the pdf files so that they are not uploaded to the repo
*.pdf
#Chroma Db files
*chromadb/
*chroma/
*sqlite3
#ignore .npy files
*.npy